{% extends 'base.html.twig' %}

{% block body %}
	<!--begin::Main-->
	<div
		class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div
			class="d-flex flex-row flex-column-fluid page">
			<!--begin::Wrapper-->
			<div
				class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
				<!--begin::Header-->
				<div
					id="kt_header" class="header header-fixed">
					<!--begin::Container-->
					<div
						class="container-fluid">
						<!--begin::Header Menu Wrapper-->
						<div
							class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
							<!--begin::Logo-->
							<div class="header-logo d-none d-lg-flex">
								<a href="#">
									<img alt="Logo" src="https://preview.keenthemes.com/keen/theme/demo6/dist/assets/media/logos/logo-5.svg" class="h-40px"/>
								</a>
							</div>
							<!--end::Logo-->

							<!--begin::Header Menu-->
							<div
								id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default ml-5">
								<!--begin::Header Nav-->
								{% block content_header %}
									{% if is_granted('ROLE_CONSOMMATEUR') %}
										<ul class="menu-nav">
											<li class="menu-item" aria-haspopup="true">
												<a href="{{ path('consommateur_index') }}" class="menu-link">
													<span class="menu-text">Accueil</span>
												</a>
											</li>
										</ul>
									{% elseif is_granted('ROLE_RESTAURANT') %}
										<ul class="menu-nav">
											<li class="menu-item" aria-haspopup="true">
												<a href="{{ path('restaurant_index') }}" class="menu-link">
													<span class="menu-text">Accueil</span>
												</a>
											</li>
										</ul>
									{% elseif is_granted('ROLE_ADMINISTRATEUR') %}
										<ul class="menu-nav">
											<li class="menu-item" aria-haspopup="true">
												<a href="{{ path('administrateur_index') }}" class="menu-link">
													<span class="menu-text">Accueil</span>
												</a>
											</li>
											<li class="menu-item" aria-haspopup="true">
												<a href="#" class="menu-link">
													<span class="menu-text">Utilisateurs</span>
												</a>
											</li>
										</ul>
									{% endif %}
								{% endblock %}
								<!--end::Header Nav-->
							</div>
							<!--end::Header Menu-->
						</div>
						<!--end::Header Menu Wrapper-->

						<!--begin::Topbar-->
						<div
							class="topbar">
							<!--begin::Quick panel-->
							<div class="topbar-item mr-2">
								<div class="btn btn-icon btn-hover-transparent-white btn-lg mr-1" id="kt_quick_panel_toggle">
									<span
										class="svg-icon svg-icon-xl">
										<!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2020-10-07-041015/theme/demo6/dist/../src/media/svg/icons/General/Notification2.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24"/>
												<path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000"/>
												<circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5"/>
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
								</div>
							</div>
							<!--end::Quick panel-->

							<!--begin::User-->
							<div class="topbar-item mr-3">
								<a href="{{ path('profile_index') }}" class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2">
									<div class="symbol symbol-circle symbol-30 bg-white overflow-hidden">
										<div class="symbol-label">
											<img alt="Logo" src="https://preview.keenthemes.com/keen/theme/demo6/dist/assets/media/svg/avatars/001-boy.svg" class="h-75 align-self-end"/>
										</div>
									</div>
								</a>
								{# {% endif %} #}
							</div>
							<!--end::User-->
						</div>
						<!--end::Topbar-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Header-->

				<!--begin::Subheader-->
				<div class="subheader py-6" id="kt_subheader">
					<div
						class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
						<!--begin::Info-->
						<div
							class="d-flex align-items-center flex-wrap mr-1">
							<!--begin::Page Heading-->
							<div class="d-flex align-items-baseline flex-wrap mr-5">

								{% block content_subheader %}
									<!--begin::Page Title-->
									<h5 class="text-dark font-weight-bold my-1 mr-5">Accueil</h5>
									<!--end::Page Title-->
									<!--begin::Breadcrumb-->
									<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
										<li class="breadcrumb-item text-muted">
											<a href="#" class="text-muted">Application</a>
										</li>
										<li class="breadcrumb-item text-muted">
											<a href="#" class="text-muted">Accueil</a>
										</li>
									</ul>
									<!--end::Breadcrumb-->
								{% endblock %}

							</div>
							<!--end::Page Heading-->
						</div>
						<!--end::Info-->

						{% block content_subheader_right %}{% endblock %}
					</div>
				</div>
				<!--end::Subheader-->

				{% block content_body %}{% endblock %}

				<!--begin::Footer-->
				<div
					class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
					<!--begin::Container-->
					<div
						class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
						<!--begin::Copyright-->
						<div class="text-dark order-2 order-md-1">
							<span class="text-muted font-weight-bold mr-2">2020©</span>
							<a href="#" target="_blank" class="text-dark-75 text-hover-primary">Application</a>
						</div>
						<!--end::Copyright-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Footer-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Main-->

	<!--begin::Quick Panel-->
	<div
		id="kt_quick_panel" class="offcanvas offcanvas-right pt-5 pb-10">
		<!--begin::Header-->
		<div class="offcanvas-header offcanvas-header-navs d-flex align-items-center justify-content-between mb-5">
			<h4 class="text-primary ml-10">Notifications</h4>
		</div>
		<!--end::Header-->

		<!--begin::Content-->
		<div class="offcanvas-content px-10">
			<div
				class="tab-content">
				<!--begin::Tabpane-->
				<div
					class="tab-pane fade show pt-2 pr-5 mr-n5 active" id="kt_quick_panel_notifications" role="tabpanel">
					<!--begin::Nav-->
					<div class="navi navi-icon-circle navi-spacer-x-0" id="notifications_div">
						<div class="form-group">
							<div class="alert alert-custom alert-default" role="alert">
								<div class="alert-text text-center">Aucune Notification.</div>
							</div>
						</div>
					</div>
					<!--end::Nav-->
				</div>
				<!--end::Tabpane-->
			</div>
		</div>
		<!--end::Content-->
	</div>
	<!--end::Quick Panel-->
{% endblock %}
